.superAdminMainCardDivStyle {
  width: 100%;
  height: 100%;
  margin: 1%;
  border-radius: 15px;
  background: var(--Neutral-50, #f8fafc);
  display: flex;
  justify-content: center;
  align-items: center;
}
.superAdminCardStyle {
  width: 100%;
  height: 100%; /* Set a max-width if needed */
}
.emailWithCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.superAdminMiddleParentDiv {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: var(--Neutral-50, #f8fafc);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.superAdminProfileName {
  color: var(--Brand-900, #312e81);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.AdminProfileStyle {
  width: 25%;
  height: 50%;
}
.SuperAdminProfileStyle {
  color: var(--Neutral-900, #0f172a);
  margin-left: 10px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.superAdminProfileCardStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.superAdminOrganizationListName {
  color: var(--Brand-900, #312e81);
  font-family: Into, Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.bannerBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.OrganizationListFilterSerchBox {
  margin-right: 10px;
}

.inputField45px {
  height: 50px;
  border: none;
  outline: none;
  padding: 0 15px;
  width: calc(100% - 45px);
  font-size: 16px;
  border-radius: 42px;
}

.OrganizationListTable {
  width: 100%;
  padding-top: 25px;
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}
.tableHeadLabelStyle {
  font-weight: 1.2rem;
  white-space: nowrap; /* Prevent text wrapping */
}

/* Adjust the following styles to ensure responsiveness */
@media (max-width: 768px) {
  .tableHeadLabelStyle,
  .tableBodyCellStyle {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}


.tableText {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
