.recognised {
    height: 413px;
    background-color: #fff;
    /* color: #0000 */
    color: black;
}
.recognisedHeading {
    text-align: center;
}
.recognisedCompany {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: first baseline;
}
.recognisedCompany {
}
.recognisedImg {
    width: 280px;
}
.recognisedImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
