.PageNotFound {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Neutral-200, #E2E8F0);

  background-repeat: no-repeat;
  /* background-color: ; */
}
.image{
  width: 200px;
  height: 200px;
}