.signheader-main {
    /* background: var(--Neutral-200, #E2E8F0); */
    background-color: var(--Neutral-900, #0F172A);
}

.signheader-content {
    display: flex;
    justify-content: space-between;
}

.signheader-buttoncontent {
    display: flex;
    align-items: center;
    margin: 4px;
}

.signheader-account {
    margin-right: 10px;
}

.signheader-amchattext {
    margin-left: 35px;
    color: var(--Neutral-900, #0F172A);
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* margin-top: 10px; */
}

.signheader-btn {
    margin-right: 30px;
    /* margin-top: 10px; */
}

.headerVector-icon {
    position: relative;
    bottom: 8px;
}

.signin-link {
    text-decoration: none;
    /* color: var(--Brand-900, #312E81); */
    color: white;
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}