.form-content {
    width: '460px';
}

.resetpasswordform{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .resetpassword-header {
    box-sizing: border-box;
    margin-bottom: -2px;
    }
    .resetpassword-main{
    width: 100%;
    }
  
    .resetpassword-main {
      width: 100%; 
      padding: 0 20px; 
      box-sizing: border-box; 
    }
  
    .box-round {
      width: 100%; 
      margin: 0 auto; 
    }
  }
  .resetpasswordform{
  display: flex;
  justify-content: center;
  }

  .resetpassword-main-css{
   padding-top: 100px;
   height: 80vh;
   background-color: #e2e8f0;
  }