.form-content {
    width: '460px';
}

.resetpasswordform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.inputStyles {
    margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
    .resetpassword-header {
        box-sizing: border-box;
        margin-bottom: -2px;
    }
    .resetpassword-main {
        width: 100%;
    }

    .resetpassword-main {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    .box-round {
        width: 100%;
        margin: 0 auto;
    }
}

.resetpassword-main-css {
    padding-top: 130px;
    height: 80vh;
    background-color: #e2e8f0;
}

.custom-textfield .MuiInputBase-root.MuiOutlinedInput-root {
    height: 56px;
}
