.headerMain {
  width: 100vw;
  height: 108px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  gap: 234px;
}
@media only screen and (max-width: 768px) {
  .headerMain {
    padding-left: 20px;
    margin-right: 20px;
    gap: 20px;
  }

  .appNavigation {
    margin-right: 20px;
  }

  .navigationPages {
    margin-right: 0;
  }

  .navigationButton {
    margin-left: 20px;
  }
}

.scrolled {
  background: linear-gradient(
    114deg,
    #0f172a 51.52%,
    #152346 73.32%,
    #1a2e5e 92.75%
  );
}

.navigation {
  line-height: 33px;
  color: rgb(var(--txts, var(--color_14)));
  transition: var(--trans, color 0.4s ease 0s);
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
  color: #cbd5e1;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.navigationPages {
  width: 100%;
  margin-right: -11px;
}
.appName {
  width: 12px;
  height: 12.571px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #53a5df;
}
.appNavigation {
  background-color: transparent;
  color: #cbd5e1;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  bottom: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 658px;
  margin-right: 100px;
}

.homeBtn {
  background-color: #7529b2;
  border: solid
    var(
      --corvid-border-color,
      rgba(var(--brd, var(--color_15)), var(--alpha-brd, 1))
    )
    var(--corvid-border-width, var(--brw, 0));
  cursor: pointer !important;
  border-radius: 50px;
  box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, 0.6));
  transition: var(
    --trans1,
    border-color 0.4s ease 0s,
    background-color 0.4s ease 0s
  );
  align-items: center;
  box-sizing: border-box;
  display: flex;
  min-width: 100%;
  text-align: initial;
  width: 150px;
  height: 50px;
  justify-content: center;
}
.amChatTitle {
  color: var(--White, #fff);
  font-family: Red Rose;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.navigationButton {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  width: 200px;
  color: #f8fafc;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.appLogo {
  color: var(--White, #fff);
  font-family: Lato !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--White, #fff);
  margin-left: 50px;
}
.logo {
  width: 150px;
  margin-top: 20px;
}
