
.uploadDocumentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.uploadDocumentContainer .ant-upload {
  margin-bottom: 10px; /* Adjust margin between button and uploaded file list */
}

.uploadDocumentContainer .ant-upload-list-item-info {
  display: none; /* Hide the uploaded file name and size */
}

.uploadDocumentContainer .ant-btn {
  background-color: var(--Brand-500, #6366F1); /* Match button background color with the theme */
  color: #ffffff; /* Button text color */
  border-radius: 28px; /* Match button border radius */
  width: 200px; /* Adjust button width as needed */
}

.uploadDocumentContainer .ant-btn:hover {
  background-color: var(--Brand-600, #5758BB); /* Button background color on hover */
}

.uploadDocumentContainer .ant-upload-list-item {
  border-radius: 12px; /* Match uploaded file list item border radius */
  background-color: #f0f0f0; /* Match uploaded file list item background color */
  margin-bottom: 5px; /* Adjust margin between uploaded file list items */
}

.uploadDocumentContainer .ant-upload-list-item-name {
  color: #333; /* Match uploaded file list item text color */
}

.uploadDocumentContainer .ant-upload-list-item-progress {
  display: none; /* Hide upload progress bar */
}
