
.orgadmin-amchat-main {
    display: flex;
    background: linear-gradient(114deg, #0F172A 51.52%, #152346 73.32%, #1A2E5E 92.75%);
    height: 100%;
  }
  
  .orgadmin-sidebar-amchat {
    width: 260px;
    height: 100vh;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .orgadmin-sidebar-amchat h2 {
    color: var(--White, #FFF);
    font-family: 'Red Rose', sans-serif;
    font-size: 28.667px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    margin-top: 0;
  }
  
  .orgadmin-start-chat {
    width: 175px;
    height: 50px;
    padding: 10px 16px;
    gap: 8px;
    margin-top: 20px;
    border-radius: 30px;
    background: var(--Brand-500, #6366F1);
  }
  
  .orgadmin-chat-profile-container {
    border-radius: 15px;
    background: var(--Neutral-200, #E2E8F0);
    width: 990px;
    
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .orgadmin-chat-profile {
    margin-left: 40px;
    border-radius: 15px;
    background: var(--Neutral-200, #E2E8F0);
    width: 800px;
    height: 600px;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
    border-radius: 10.457px;
    background: var(--White, #FFF);
    box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
  }
  
  .orgadmin-chatui-text {}
  
  .orgadmin-chatui-AmChat-text {
    color: var(--Neutral-900, #0F172A);
    font-family: Lato, 'Red Rose', sans-serif;
    font-size: 43.333px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
  }
  
  .orgadmin-chat-hello-text h2 {
    text-align: center;
    color: #312E81;
  }
  
  .orgadmin-chat-hello-text p {
    color: var(--Black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  
  .orgadmin-input-main input {
    width: 870px;
    height: 45px;
    border-radius: 35px;
    border: 1px solid var(--Neutral-400, #94A3B8);
    padding-right: 50px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .orgadmin-trending-questions {
    color: var(--Neutral-600, #475569);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 20px;
  }
  
  .orgadmin-trending-questions p {
    border-radius: 20px;
    border: 1px solid var(--Neutral-300, #CBD5E1);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  
  .orgadmin-question-row-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  
  .orgadmin-question-row-second {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
  }
  
  .orgadmin-chat-arrow {
    position: relative;
    display: flex;
    bottom: 38px;
    left: 825px;
    cursor: pointer;
    width: 40px;
  }
  
  .orgadmin-document-card {
    display: flex;
    margin-left: 30px;
    width: 900px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 10.457px;
    background: var(--White, #FFF);
    box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
  }
  
  .orgadmin-document-upload-text {
    color: var(--Neutral-900, #0F172A);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-left: 15px;
  }
  
  .orgadmin-userchatHeader {
    display: flex;
  }
  
  .orgadmin-amchatmain-user-profile {
    margin-left: 600px;
  }
  
  .orgadmin-document-icon {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .orgadmin-document-quantity {
    color: var(--Neutral-900, #0F172A);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin-left: 2px;
    margin-top: 0px;
  }
  