.superAdminMainCardDivStyle {
  width: 100%;
  min-height: 100vh;
  margin: 1%;
  border-radius: 15px;
  background: var(--Neutral-200, #e2e8f0);
}

.superAdminMiddleParentDiv {
  width: 96%;
  border-radius: 15px;
  background: var(--Neutral-200, #e2e8f0);
  padding: 20px;
}

.superAdminProfileCardStyle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.superAdminProfileName {
  color: var(--Brand-900, #312e81);
  font-family: Into, "sans-serif";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.AdminProfileStyle {
  width: 25%;
  height: 50%;
}

.SuperAdminProfileStyle {
  color: var(--Neutral-900, #0f172a);
  margin-left: 10px;
  font-family: Into, "sans-serif";
  font-size: 18px;
  font-weight: 600;
}

.superAdminCardStyles {
  width: 100%;
  min-height: 540px;
  max-height: 100%;
  margin-top: 20px;
  border: none !important;
  border-radius: none;
  display: grid;
  align-items: end;
}

.AIChatInputBox {
  padding-top: 20px;
  width: 100%;
  height: 70px;
}

.chatBubble {
  background-color: #e5e5ea;
  color: #000;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
}

.responseContainer {
  display: flex;
  justify-content: flex-end;
}


