.How_It_Works_Main_Div {
  background: linear-gradient(
    114deg,
    #0f172a 51.52%,
    #152346 73.32%,
    #1a2e5e 92.75%
  );

  width: 100%;
  height: 780px;
  margin-top: -23px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.Main_Title_of_HowItWorks {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.How_It_Works_Left_Side_div {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin-top: 310px;
  margin-left: 50px;
}
.How_it_works_Your_Org {
  color: var(--Neutral-200, #e2e8f0);

  /* text-sm */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 100px;
  margin-bottom: 25px;
}
.How_It_Works_Container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.How_it_works_imge2 {
}
.how_to_works_span_text {
  color: #94a3b8;
  padding-top: 28px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.how_it_works_second_div {
  display: flex;
  justify-content: space-around;
}

.how_it_works_child_div {
  flex: 1;
  text-align: center; /* Adjust as needed */
}

.How__it_Works_Right_Side_div {
  width: 50%;
  box-sizing: border-box;
}

.How__it_Works_Left_Side_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.How_it_Works_image {
  width: 100%;
  height: 100%;
}

.How__it_Works_Righit_Side_text {
  width: 70%;
  display: flex;
  align-items: flex-end;
}

.Main_Title_of_HowItWorks {
  margin-right: 20px;
}

.Sub_Title_of_how_it_Works {
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;

  /* text-2xl/font-semibold */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}
