.infoBarMain {
  width: 100%;
}
.infoBar {
  width: 100%;
  height: 45px;
  border-radius: 10.457px;
  background: var(--White, #fff);
  box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
}
.infoBarContent {
  width: 100%;
  height: 90%;
  flex-shrink: 0;
  border-radius: 10.457px;
  background: var(--White, #fff);
  box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
}
