@media screen and (max-width: 767px) {
    .signin-header {
    min-width: 645px;
    box-sizing: border-box;
    margin-bottom: -2px;
    }
    .signin-main{
    width: 100%;
    min-width: 645px;
    }
  
    .main-container {
      width: 100%; 
      max-width: 100%; 
      padding: 0 20px; 
      box-sizing: border-box; 
    }
  
    .box-round {
      width: 100%; 
      max-width: 600px; 
      margin: 0 auto; 
    }
  }
  