@media screen and (max-width: 767px) {
    .signin-header {
    box-sizing: border-box;
    margin-bottom: -2px;
    }

    .main-container {
      width: 100%; 
      padding: 0 20px; 
      box-sizing: border-box; 
    }
  
    .box-round {
      width: 100%; 
      margin: 0 auto; 
    }
  }
  .text-top-signin h2 {
    text-align: center;
    color: #312e81;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3rem;
    line-height: 5px;
}
.text-top-signin p {
  text-align: center;
  font-weight: 600;
}

.signin_input_css {
  width: 495px !important;
  height: 50px;
  border-radius: 40px;
  border: 1px solid var(--Neutral-400, #94a3b8);
  background: transparent !important;
  color: #212529;
  
}
.ant-input:focus {
  color: black; 
}
.ant-input::placeholder {
  color: #808080; 
}

.signin_submit_btn_css {
  background-color: var(--Brand-500, #6366F1);
  width: 495px;
  height: 50px;
  border-radius: 40px;
}

@media screen and (max-width: 767px) {
  .signin_input_css{
    width: 300px !important;
  }

    .signin_submit_btn_css {
      width: 300px;

  }
  .main-container{
    max-height: 468px;
  }
}

.signin-form-css{
  display: flex;
  justify-content: center;
}

.signin-main-css{
  padding-top: 100px;
  height: 100vh;
  background-color: #e2e8f0;
}

