.maintainencePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(181, 100, 229);
  background: linear-gradient(
    114deg,
    #0f172a 51.52%,
    #152346 73.32%,
    #1a2e5e 92.75%
  );
}
