.maintainencePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(181, 100, 229);
  background: linear-gradient(
    190deg,
    rgba(181, 100, 229, 1) 20%,

    rgba(0, 234, 243, 1) 60%,

    rgba(105, 238, 245, 1) 100%
  );
}
