.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.butooneffect:hover {
}

.butooneffect:active {
  /* background-color: transparent; */
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
.coloumCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: auto;
  color: #475f7b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  height: 100vh;
}
.main {
  height: 100vh;
  /* background: rgb(181, 100, 229); */
  /* background: linear-gradient(
    190deg,
    rgba(181, 100, 229, 1) 20%,

    rgba(0, 234, 243, 1) 60%,

    rgba(105, 238, 245, 1) 100%
  ); */
  background-color: #E2E8F0;

  background-repeat: no-repeat;
}

.container {
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
