.amchat-main {
  display: flex;
  background: linear-gradient(114deg, #0F172A 51.52%, #152346 73.32%, #1A2E5E 92.75%);
  height: 100%;
}

.sidebar-amchat {
  width: 260px;
  height: 100vh;
  flex-shrink: 0;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-amchat h2 {
  color: var(--White, #FFF);
  font-family: 'Red Rose', sans-serif;
  font-size: 28.667px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  margin-top: 0;
}

/* startchat is a button */
.start-chat {
  width: 175px;
  height: 50px;
  padding: 10px 16px;
  gap: 8px;
  margin-top: 20px;
  border-radius: 30px;
  background: var(--Brand-500, #6366F1);
}

.chat-profile-container {
  /* flex-grow: 1; */
  border-radius: 15px;
  background: var(--Neutral-200, #E2E8F0);
  width: 980px;
  height: 720px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat-profile {
  margin-top: 5px;
  margin-left: 40px;
  border-radius: 15px;
  background: var(--Neutral-200, #E2E8F0);
  width: 903px;
  height: 500px;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
  border-radius: 10.457px;
  background: var(--White, #FFF);
  box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
  margin-bottom: 20px;
}

.chatui-text {}

.chatui-AmChat-text p{
  color: var(--Neutral-900, #0F172A);
  font-family: Lato, 'Red Rose', sans-serif;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 80px;
}

.chat-hello-text h2 {
  text-align: center;
  color: #312E81;
  margin-top: 120px;
}

.chat-hello-text p {
  color: var(--Black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;

}

.input-main input {
  margin-top:28px;
  width: 850px;
  height: 45px;
  border-radius: 35px;
  border: 1px solid var(--Neutral-400, #94A3B8);
  padding-right: 50px;
  padding-left: 20px;
  box-sizing: border-box;
}

.trending-questions {

  color: var(--Neutral-600, #475569);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
}

.trending-questions p {
  border-radius: 20px;
  border: 1px solid var(--Neutral-300, #CBD5E1);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
  /* 133.333% */
}

.question-row-first {

  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.question-row-second {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}

.chat-arrow {
  position: relative;
  display: flex;
  bottom: 38px;
  left: 825px;
  cursor: pointer;
  width: 40px;
}

.document-card {
  display: flex;
  margin-left: 40px;
  width: 900px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 10.457px;
  background: var(--White, #FFF);
  box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
  margin-bottom: -20px;
}
.document-upload-text{
  color: var(--Neutral-900, #0F172A);
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px;
margin-left: 15px;
}

.userchatHeader {
  display: flex;
}

.amchatmain-user-profile {
  margin-left: 600px;
}

.document-icon {
width: 30px;
height: 30px;
margin-top: 15px;
margin-left: 20px;
}
.document-quantity{
  color: var(--Neutral-900, #0F172A);
font-size: 30px;
font-style: normal;
font-weight: 700;
margin-left: 2px;
margin-top: 0px;
}
.orgadmin-chats{
margin-top: 100px;

}
.orgadmin-chats p{
  border-radius: 30px;
background: var(--Neutral-800, #1E293B);
width: 220px;
height: 40px;
flex-shrink: 0;
text-align: left;
text-align: left;
margin-right: 18px;
color: #E2E8F0;
padding-left: 10px;
cursor: pointer;
}
.orgadmin-threedot{
  position: relative;
  top: 8px;
  left: 1px;
  cursor: pointer;
}
.orgadmin-chats h3{
  color: #E2E8F0;
  cursor: pointer;
}
.orgadmin-threedot-two{
  position: relative;
  left: 60px;
  top: 9px;
  cursor: pointer;
  
}
