.footerMain {
  position: relative;
  height: auto !important;
  width: 100%;
  background-color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_p_tag {
  color: #ffffff !important;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  display: flex;
}
.footer_p_tag_2 {
  color: #ffffff;
  font-family: var(--text-base-font-family, "Lato-SemiBold", sans-serif);
  font-size: var(--text-base-font-size, 14px);
  line-height: var(--text-base-line-height, 24px);
  font-weight: var(--text-base-font-weight, 400);
}
.footerFIrstCOntent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 10px;
  display: block;
}
.footerAddress {
  width: 100%;
}

.footerFIrstCOntent p {
  margin-bottom: 10px;
}

.footerFIrstCOntent img {
  margin-right: 10px;
}
.footerEmail {
  display: block;
}
.footer_social_links {
  display: flex;
  gap: 10px;
}

.footer_social_links img {
  width: 30px;
  height: 30px;
}
.centeredText {
  padding-top: 250px;
  margin-right: 40px;
}

.centeredText {
display: flex;
justify-content: center;

}
@media only screen and (max-width: 767px) {
  .footerFIrstCOntent {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
.footerMain{
padding-bottom: 70px;
}
.footerFIrstCOntent {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
  display: block;
}
.footerMain {
  position: relative;
  height: auto !important;
  width: 100%;
  background-color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
}
}

.main-mobile-footer{
  flex-direction: column;
}
.contact-mobile {
  color: #FFF;
  font-size: 14px;
  display: flex;
}

.footer-container {
  padding: 40px;
  height: 70vh;
}

.footer-header {
  color: #fff;
  display: flex;
  align-items: center;
}

.footer-logo {
  color: #fff;
  margin-top: -15px;
}

.footer-logo-icon {
  margin-left: -3px;
}

.footer-links {
  color: #fff;
  font-size: 14px;
}

.footer-social-links {
  margin-top: 20px;
}

.footer-address,
.footer-email,
.footer-phone,
.footer-rights {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer-address img,
.footer-email img,
.footer-phone img {
  margin-right: 10px;
}

.footer-email a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}



