.superAdminMainCardDivStyle {
    width: 100%;
    height: 130vh !important;
    min-height: 752px !important;
    border-radius: 15px;
    padding: 15px 10px 0 0;
  }
  .superAdminSecondMainDiv {
    width: 100% !important;
    height: 100%;
    border-radius: 15px;
    background: var(--Neutral-200, #e2e8f0);
  }
  .addOrganizationAdminSecondDiv {
    width: 98%;
    height: 65vh;
    flex-shrink: 0;
    border-radius: 10.457px;
    background: var(--White, #fff);
    box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }
  .superAdminCardStyle {
    width: 100%;
    height: 100% !important;
  }
  .Spacing_Form{
  padding: 20px;
   }
  .addButtonStyle {
    color: rgb(255, 255, 255);
    background-color: var(--Brand-500, #6366F1);
    width: 100px;
    height: 50px;
    border-radius: 28px;
  }

  .cancelButton {
    color: black;
    background-color: rgb(255, 255, 255);
    height: 50px;
    border-radius: 28px;
    width: 100px;

  }

  .buttonContainer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    gap: 10px; 
  }
  .superAdminMiddleParentDiv {
    width: 96%;
    height: 94%;
    border-radius: 15px;
    background: var(--Neutral-50, #f8fafc);
    padding: 20px;
  }
  .superAdminProfileName {
    color: var(--Brand-900, #312e81);
    font-family: Into, "sans-serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .AdminProfileStyle {
    width: 25%;
    height: 50%;
  }
  .SuperAdminProfileStyle {
    color: var(--Neutral-900, #0f172a);
    margin-left: 10px;
    font-family: Into "Lato";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .superAdminProfileCardStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .bannerBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .OrganizationListTable {
    padding-top: 25px;
  }
  .tableHeadLabelStyle {
    font-weight: 1.2rem;
  }
  .superAdminTabChildCardStyle {
    width: 97%;
    height: 60vh;
    border-radius: 10.457px;
    background: var(--White, #fff);
    box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
    padding: 20px;
  }
  .generalButtonStyle {
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
  .superAdminMainCardDivStyle {
    width: 100%;
    height: 130vh !important;
    min-height: 752px !important;
    border-radius: 15px;
    padding: 15px 10px 0 0;
  }
  .superAdminSecondMainDiv {
    width: 100% !important;
    height: 100%;
    border-radius: 15px;
    background: var(--Neutral-200, #e2e8f0);
  }

  .superAdminCardStyle {
    width: 100%;
    height: 100% !important;
  }
  .superAdminMiddleParentDiv {
    width: 96%;
    height: 94%;
    border-radius: 15px;
    background: var(--Neutral-50, #f8fafc);
    padding: 20px;
  }
  .superAdminProfileName {
    color: var(--Brand-900, #312e81);
    font-family: Into, "sans-serif";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
  .AdminProfileStyle {
    width: 25%;
    height: 50%;
  }
  .SuperAdminProfileStyle {
    color: var(--Neutral-900, #0f172a);
    margin-left: 10px;
    font-family: Into "Lato";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  .superAdminProfileCardStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .bannerBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .OrganizationListTable {
    padding-top: 25px;
  }
  .tableHeadLabelStyle {
    font-weight: 1.2rem;
  }
  .superAdminTabChildCardStyle {
    width: 97%;
    height: 60vh;
    border-radius: 10.457px;
    background: var(--White, #fff);
    box-shadow: 0px 2.789px 6.972px 3.486px rgba(0, 0, 0, 0.09);
    padding: 20px;
  }
  .generalButtonStyle {
    justify-content: center;
    display: flex;
    gap: 30px;
    margin-top: 20px;
  }
  .logoicon{
      height: 30px;
      width: 80px;
      margin-left: -66px;
      margin-top: 44px;
  }
  .AMChatMainDiv {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: linear-gradient(
      114deg,
      #0f172a 51.52%,
      #152346 73.32%,
      #1a2e5e 92.75%
    );
    display: flex;
    justify-content: flex-start;
    /* position: fixed; */
  }
  
  @media (max-width: 1100) {
  }
  .AMChatSidebar {
    width: 248px;
    height: 100%;
    justify-content: center;
    background: transparent;
    padding: 20px;
  }
  .AmChatMainTextStyle {
    color: var(--Neutral-100, #f1f5f9);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: var(--Neutral-900, #0f172a);
    font-family: Into "Lato";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }
  .AmChatBelowTwoDiv {
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    background: var(--Neutral-800, #1e293b);
  }
  .AmChatChatPlaceholder {
    color: var(--Neutral-300, #cbd5e1);
    font-family: var(--text-base-font-family, "Lato-SemiBold", sans-serif);
    font-size: var(--text-base-font-size, 0.675rem);
    line-height: var(--text-base-line-height, 24px);
    font-weight: var(--text-base-font-weight, 500);
  }
  .AMChatSuperAdminSidebar {
    stroke: #53a5df;
    margin-top: -20px !important;
    margin-left: 35px;
    display: flex;
    width: 120px;
    height: 125px;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 39px;
  }
  
  .AmChatsTwoContents {
  }
  
  .AmChatsTwoContents p {
    display: flex;
    align-items: center;
  }
  
  .AmChatsTwoContents img {
    margin-left: 8px; /* Add spacing between the text and the image if needed */
  }
  
  .SuperAdminChildContainer {
    width: 100%;
    padding-left: 5px;
    margin-top: 10px;
  }
  
  .SuperAdminChildContainer span {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  
  .SuperAdminChildContainer img {
    margin-right: 8px;
  }

  .SuperAdminChildContainer:hover {
    background-color: #6366f1; 
    color: #f8fafc; 
    border-radius: 5px;
  }
  
  .bannerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .AMChat-admin-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .appLogo {
    color: var(--White, #fff);
    font-family: Lato !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: var(--White, #fff);
    margin-left: 50px;
  }
  .amChatTitle {
    color: var(--White, #fff);
    font-family: Into "Red Rose";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
  }
  
  .AMChatFooterStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      114deg,
      #0f172a 51.52%,
      #152346 73.32%,
      #1a2e5e 92.75%
    );
    border-style: none;
    margin-top: -20px;
    color: var(--White, #fff);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .footerPTagStyle {
    margin-left: 150px;
    font-family: var(--text-base-font-family, "Lato-SemiBold", sans-serif);
    font-size: var(--text-base-font-size, 14px);
    line-height: var(--text-base-line-height, 24px);
    font-weight: var(--text-base-font-weight, 500);
  }
  .organizationTextStyle {
    color: var(--White, #fff);
    text-align: right;
    font-family: Into "Lato";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .AMchatMainDiv {
    margin-top: 30px;
  }
  .AMChatFooterStyle {
    color: var(--White, #fff);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 1.2rem;
  }
  
  .AMChatFooterStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      114deg,
      #0f172a 51.52%,
      #152346 73.32%,
      #1a2e5e 92.75%
    );
    border-style: none;
    margin-top: -20px;
  }
  .organizationTextStyle {
    color: var(--White, #fff);
    text-align: right;
    margin-left: 5px;
    font-family: var(--text-base-font-family, "Lato-SemiBold", sans-serif);
    font-size: var(--text-base-font-size, 1rem);
    line-height: var(--text-base-line-height, 24px);
    font-weight: var(--text-base-font-weight, 500);
  }
  .AMChatFooterStyle {
    color: var(--White, #fff);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 1.2rem;
  }
  .icon{
    height: 30px;
    width: 80px;
    margin-left: -65px;
    margin-top: 43px;
  }

  .userIcon {
    color: white;
    padding-left : 7px;
    font-size:20px;
    padding-right:5px
  }